<h3>{{ legend }}</h3>
<div class="input-group">
    <div class="input-group-prepend" id="button-addon1">
        <button class="btn btn-outline-primary" type="button" (click)="decreaseValue()"><i class="mdi mdi-minus"></i></button>
    </div>
    <input type="number" #progress class="form-control" name="progressValue" (ngModelChange)="setValue($event)" [(ngModel)]="progressValue" min="0" max="100">
    <div class="input-group-append" id="button-addon2">
      <button class="btn btn-outline-primary" type="button" (click)="increaseValue()"><i class="mdi mdi-plus"></i></button>
    </div>
</div>